<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <style>
        h1 {
            font-family: "Garamond", serif;
        }
        body {
            background-color: #9DD396;
        }
    </style>
    <form action="/login" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Login">
    </form>

    <h2>Create an Account</h2>
    <style>
        h2 {
            font-family: "Garamond", serif;
        }
    </style>
    <form action="/create_user" method="post">
        <label for="new_username">Username:</label><br>
        <input type="text" id="new_username" name="new_username"><br>
        <label for="new_password">Password:</label><br>
        <input type="password" id="new_password" name="new_password"><br>
        <label for="new_email">Email:</label><br>
        <input type="text" id="new_email" name="new_email"><br><br>
        <input type="submit" value="Create Account">
    </form>

</body>
</html>