<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        /* Basic styles for modal */
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,0.4);
            padding-top: 100px;
        }

        .modal-content {
            background-color: #fefefe;
            margin: 5% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            animation-name: animatetop;
            animation-duration: 0.4s;
        }

        @keyframes animatetop {
            from {top: -300px; opacity: 0}
            to {top: 0; opacity: 1}
        }

        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

        /* Style for table */
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        /* Button styles */
        .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 4px;
        }

        .button:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>


    <p><a href="/"> ← Back to All Users</a></p>

    <h1>{{loans[0][1]}}'s Financial Record</h1>


    <h2>Loans List</h2>
    <form action="/addUserLoan" method="post">
            <input type="text" name="username" placeholder="Username" value={{loans[0][1]}}>
            <input type="text" name="loanType" placeholder="Loan Type">
            <input type="text" name="loanAmount" placeholder="Loan Amount">
            <input type="text" name="interest" placeholder="Interest Amount">
            <input type="text" name="balanceRemaining" placeholder="Balance Remaining">
            <input type="text" name="startDate" placeholder="Start Date (yyyy-mm-dd)">
            <input type="text" name="endDate" placeholder="End Date (yyyy-mm-dd)">

            <input type="submit" value="Add Loan">
        </form>
    <table border="1" id="loansTable">
        <thead>
            <tr>
                <th> </th>
                <th>Username</th>
                <th>Loan Type</th>
                <th>Loan Issued Date</th>
                <th>Loan End Date</th>
                <th>Interest</th>
                <th>Loan Amount</th>
                <th>Balance Remaining</th>
            </tr>
        </thead>
        <tbody>
            {% for loan in loans %}
            <tr data-loan-id="{{ loan[0] }}">
                <td><i class="fas fa-pencil-alt" onclick="showModal(this)"></i></td>
                <td>{{ loan[1] }}</td>
                <td>{{ loan[2] }}</td>
                <td>{{ loan[5] }}</td>
                <td>{{ loan[6] }}</td>
                <td>{{ loan[4] }}</td>
                <td>{{ loan[3] }}</td>
                <td>{{ loan[7] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Expenses List</h2>
    <table border="1">
        <thead>
            <tr>
                <th> </th>
                <th>Date</th>
                <th>Category</th>
                <th>Amount</th><!-- Note: Showing passwords is generally a bad practice -->
            </tr>
        </thead>
        <tbody>
            {% for expense in expenses %}
            <tr data-expense-id="{{ expense[0] }}" data-expense-user="{{ expense[1] }}">
                <td><i class="fas fa-pencil-alt" onclick="showExpenseModal(this)"></i></td>
                <td>{{ expense[2] }}</td>
                <td>{{ expense[4] }}</td>
                <td>{{ expense[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Budget List</h2>
    <table border="1">
        <thead>
            <tr>
                <th> </th>
                <th>Budget Category</th>
                <th>Budget Amount</th> <!-- Note: Showing passwords is generally a bad practice -->
            </tr>
        </thead>
        <tbody>
            {% for budget in budgets %}
            <tr data-budget-id="{{ budget[0] }}" data-budget-user="{{ budget[1] }}">
                <td><i class="fas fa-pencil-alt" onclick="showBudgetModal(this)"></i></td>
                <td>{{ budget[3] }}</td>
                <td>{{ budget[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Transactions</h2>
    <table border="1">
        <thead>
            <tr>
                <th> </th>
                <th>Date</th>
                <th>Amount</th>
                <th>Method of Payment</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr data-transaction-id="{{ transaction[0] }}">
                <td><i class="fas fa-pencil-alt" onclick="showTransactionModal(this)"></i></td>
                <td>{{ transaction[2] }}</td>
                <td>{{ transaction[3] }}</td>
                <td>{{ transaction[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Incomes</h2>
    <table border="1">
        <thead>
            <tr>
                <th> </th>
                <th>Source</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for income in incomes %}
            <tr data-income-id="{{ income[0] }}">
                <td><i class="fas fa-pencil-alt" onclick="showIncomeModal(this)"></i></td>
                <td>{{ income[2] }}</td>
                <td>{{ income[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- The Modal -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <form id="editForm" action="/editUserLoan" method="post">
            <input type="hidden" id="loanID" name="loanID">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"><br><br>
            <label for="loanType">Loan Type:</label>
            <input type="text" id="loanType" name="loanType"><br><br>
            <label for="loanAmount">Loan Amount:</label>
            <input type="text" id="loanAmount" name="loanAmount"><br><br>
            <label for="interest">Interest:</label>
            <input type="text" id="interest" name="interest"><br><br>
            <label for="balanceRemaining">Balance Remaining:</label>
            <input type="text" id="balanceRemaining" name="balanceRemaining"><br><br>
            <button type="submit">Edit Loan</button>
        </form>
    </div>
</div>

<div id="myExpenseModal" class="modal">
<div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>
    <form id="editForm" action="/editUserExpense" method="post">
        <input type="hidden" id="expenseID" name="expenseID">
        <input type="hidden" id="username" name="username">
        <label for="username">Date:</label>
        <input type="text" id="date" name="date"><br><br>
        <label for="loanType">Category:</label>
        <input type="text" id="category" name="category"><br><br>
        <label for="loanAmount">Amount:</label>
        <input type="text" id="amount" name="amount"><br><br>
        <button type="submit">Edit Expense</button>
    </form>
</div>
</div>

<div id="myBudgetModal" class="modal">
<div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>
    <form id="editForm" action="/editUserBudget" method="post">
        <input type="hidden" id="budgetID" name="budgetID">
        <input type="hidden" id="username" name="username">
        <label for="budgetCategory">Budget Category:</label>
        <input type="text" id="budgetCategory" name="budgetCategory"><br><br>
        <label for="total">Budget Amount:</label>
        <input type="text" id="total" name="total"><br><br>
        <button type="submit">Edit Budget</button>
    </form>
</div>
</div>

<div id="myTransactionModal" class="modal">
<div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>
    <form id="editForm" action="/editUserTransaction" method="post">
        <input type="hidden" id="transactionID" name="transactionID">
        <input type="hidden" id="username" name="username">
        <label for="tDate">Date:</label>
        <input type="text" id="tDate" name="date"><br><br>
        <label for="tAmount">Amount:</label>
        <input type="text" id="tAmount" name="amount"><br><br>
        <label for="methodOfPayment">Method of Payment:</label>
        <input type="text" id="methodOfPayment" name="methodOfPayment"><br><br>
        <button type="submit">Edit Transaction</button>
    </form>
</div>
</div>

<div id="myIncomeModal" class="modal">
<div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>
    <form id="editForm" action="/editUserIncome" method="post">
        <input type="hidden" id="incomeID" name="incomeID">
        <input type="hidden" id="username" name="username">
        <label for="source">Source:</label>
        <input type="text" id="source" name="source"><br><br>
        <label for="iAmount">Amount:</label>
        <input type="text" id="iAmount" name="iAmount"><br><br>
        <button type="submit">Edit Income</button>
    </form>
</div>
</div>



<script>
// Get the modal
var modal = document.getElementById("myModal");
var eModal = document.getElementById("myExpenseModal")
var bModal = document.getElementById("myBudgetModal")
var tModal = document.getElementById("myTransactionModal")
var iModal = document.getElementById("myIncomeModal")

// Function to open the modal and populate it
function showModal(element) {
    var row = element.parentNode.parentNode;
    var cells = row.getElementsByTagName('td');
    var loanID = row.getAttribute('data-loan-id');
    document.getElementById('loanID').value = loanID;
    document.getElementById('username').value = cells[1].innerText;
    document.getElementById('loanType').value = cells[2].innerText;
    document.getElementById('loanAmount').value = cells[6].innerText;
    document.getElementById('interest').value = cells[5].innerText;
    document.getElementById('balanceRemaining').value = cells[7].innerText;
    modal.style.display = "block";
}

function showExpenseModal(element) {
    var row = element.parentNode.parentNode;
    var cells = row.getElementsByTagName('td');
    var expenseID = row.getAttribute('data-expense-id');
    document.getElementById('expenseID').value = expenseID;
    document.getElementById('date').value = cells[1].innerText;
    document.getElementById('username').value = row.getAttribute('data-expense-user');
    document.getElementById('category').value = cells[2].innerText;
    document.getElementById('amount').value = cells[3].innerText;
    eModal.style.display = "block";
}

function showBudgetModal(element) {
    var row = element.parentNode.parentNode;
    var cells = row.getElementsByTagName('td');
    var budgetID = row.getAttribute('data-expense-id');
    document.getElementById('budgetID').value = budgetID;
    document.getElementById('budgetCategory').value = cells[1].innerText;
    document.getElementById('username').value = row.getAttribute('data-expense-user');
    document.getElementById('total').value = cells[2].innerText;
    bModal.style.display = "block";
}

function showTransactionModal(element) {
    var row = element.parentNode.parentNode;
    var cells = row.getElementsByTagName('td');
    var transactionID = row.getAttribute('data-transaction-id');
    document.getElementById('transactionID').value = transactionID;
    document.getElementById('tDate').value = cells[1].innerText;
    document.getElementById('tAmount').value = cells[2].innerText;
    document.getElementById('methodOfPayment').value = cells[3].innerText;
    tModal.style.display = "block";
}

function showIncomeModal(element) {
    var row = element.parentNode.parentNode;
    var cells = row.getElementsByTagName('td');
    var incomeID = row.getAttribute('data-income-id');
    document.getElementById('incomeID').value = incomeID;
    document.getElementById('source').value = cells[1].innerText;
    document.getElementById('iAmount').value = cells[2].innerText;
    iModal.style.display = "block";
}

// Function to close the modal
function closeModal() {
    modal.style.display = "none";
    eModal.style.display = "none";
    bModal.style.display = "none";
    tModal.style.display = "none";
    iModal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

</body>
</html>
