<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Financial Assistant</title>
    </head>
    <body>
        <h1>Financial Assistant</h1>
        <style>
            h1 {
                font-family: "Garamond", serif;
            }
            body {
                background-color: #9DD396;
            }
        </style>
        <h2>Welcome, {{username}}</h2>
        <h2>Expenses</h2>
        <table border="1">
            <thread>
                <tr>
                    <th>ExpenseID</th>
                    <th>Date</th>
                    <th>Amount</th>
                </tr>
            </thread>
        </table>
        <input type="submit" value="Add">
        <input type="submit" value="Delete">
        <input type="submit" value="Update">
        <h2>Income</h2>
        <table border="1">
            <thread>
                <tr>
                    <th>IncomeID</th>
                    <th>Source</th>
                    <th>Amount</th>
                </tr>
            </thread>
        </table>
        <input type="submit" value="Add">
        <input type="submit" value="Delete">
        <input type="submit" value="Update">
        <h2>Loans</h2>
        <table border="1">
            <thread>
                <tr>
                    <th>LoanID</th>
                    <th>LoanType</th>
                    <th>LoanAmount</th>
                    <th>Interest</th>
                    <th>StartDate</th>
                    <th>EndDate</th>
                    <th>BalanceAmount</th>
                </tr>
            </thread>
        </table>
        <input type="submit" value="Add">
        <input type="submit" value="Delete">
        <input type="submit" value="Update">
        <h2>Budget</h2>
        <table border="1">
            <thread>
                <tr>
                    <th>BudgetID</th>
                    <th>Total</th>
                </tr>
            </thread>
        </table>
        <input type="submit" value="Add">
        <input type="submit" value="Delete">
        <input type="submit" value="Update">
        <h2>Transactions</h2>
        <table border="1">
            <thread>
                <tr>
                    <th>TransactionID</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Method</th>
                </tr>
            </thread>
        </table>
        <input type="submit" value="Add">
        <input type="submit" value="Delete">
        <input type="submit" value="Update">
        <style>
            h2 {
                font-family: "Garamond", serif;
            }
        </style>
    </body>
</html>